:root {
    box-sizing: border-box;
    --darkish-gray: #676763;
}

.calculator {
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: beige;

    width: 233px;
    height: 320px;
    border: 1px solid black;
    border-radius: 3px;
}

.result {
    flex-grow: 0;

    background-color: var(--darkish-gray);
}

.buttons {
    flex-grow: 1;
    display: flex;

    text-align: center;
    color: beige;
}

.button {
    flex-grow: 1;
    
    width: 56px;
    border: 1px solid var(--darkish-gray);
}

.wide-button {
    flex-grow: 2;
    flex-basis: 65%;
}

.gray-buttons {
    flex-grow: 3;
    flex-wrap: wrap;

    display:flex;

    background-color: #8c8c8a;
}

.orange-buttons {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    background-color: #e99b26;
}